# Packages

In [1]:
import parcels
import numpy as np
import os

In [25]:
import pandas as pd

# Code Zone

In [5]:
# get the list defined in the file of 'parcels'
estate = parcels.parcels
print(f'its type is {type(estate)}')
print(f'number of items: {len(estate)}')
print(f'the type of a item: {type(estate[0])}')

its type is <class 'list'>
number of items: 2597
the type of a item: <class 'dict'>

In [6]:
d = estate[0]
print(d)
# get the keys of a dictionary and convert them to a list
keys = list(d.keys())
print(keys)

{'street_address': '1 CROWN PL RICHARDSON TX 75080', 'living_area': 2984, 'state_code': 'A1', 'market_value': 231902, 'CAMPNAME': 'ALDRIDGE EL'}
['street_address', 'living_area', 'state_code', 'market_value', 'CAMPNAME']

In [7]:
# repectively extract 'street_address', 'living_area', 'state_code', 'market_value', 'CAMPNAME' from the dataset
list_street_address = [i['street_address'] for i in estate]
list_living_area    = [i['living_area'] for i in estate]
list_state_code     = [i['state_code'] for i in estate]
list_market_value   = [i['market_value'] for i in estate]
list_campName       = [i['CAMPNAME'] for i in estate]

In [14]:
# A simple example about numpy
a = np.array([72,  3, 54, 88, 83, 77, 61, 98,  2, 78, 27, 39, 28, 10, 45])
# find all the items that are greater than 28
con1 = a >= 28
print(f'the items >=28: {a[con1]}')
# find all the items that are less than 54
con2 = a <=54
print(f'the items <=54: {a[con2]}')
# find all the items that are between 28 and 54
con = np.logical_and(con1,con2) # it is equal to 'con1 & con2'
print(f'28<= items <=54: {a[con]}')

the items >=28: [72 54 88 83 77 61 98 78 39 28 45]
the items <=54: [ 3 54  2 27 39 28 10 45]
28<= items <=54: [54 39 28 45]

In [15]:
# because Numpy provides many convinent functions, transform the lists above to Numpy objects
list_street_address = np.array(list_street_address)
list_living_area    = np.array(list_living_area)
list_state_code     = np.array(list_state_code)
list_market_value   = np.array(list_market_value)
list_campName       = np.array(list_campName)

> want a single-family house (state_code=’A1’) with at least 1600 sq ft of living area (“living_area”) and a market value (“market_value”) between $250,000 and $350,000. They also have children and want to live in the area zoned to Aldridge Elementary (CAMPNAME=’ALDRIDGE EL’).

In [16]:
# state_code=’A1’
con1 = list_state_code == 'A1'
# living area >= 1600
con2 = list_living_area >= 1600
# market_value >= 250000
con3 = list_market_value >= 250000
# market_value <= 350000
con4 = list_market_value <= 350000
# CAMPNAME=’ALDRIDGE EL’
con5 = list_campName == 'ALDRIDGE EL'

In [26]:
con = con1 & con2 & con3 & con4 & con5
# utilize 'pandas' to present the search results.
num_ret = len(list_state_code[con])
df_ret = pd.DataFrame({"StateCode":list_state_code[con],
                       "LivingArea":list_living_area[con],
                       "MarketValue":list_market_value[con],
                       "CampName":list_campName[con]}, index=range(1, num_ret+1))
df_ret

   StateCode  LivingArea  MarketValue     CampName
1         A1        2611       252622  ALDRIDGE EL
2         A1        2494       322847  ALDRIDGE EL
3         A1        3297       323534  ALDRIDGE EL
4         A1        3081       334752  ALDRIDGE EL
5         A1        2682       301137  ALDRIDGE EL
6         A1        2252       286937  ALDRIDGE EL
7         A1        2616       262484  ALDRIDGE EL
8         A1        2650       273386  ALDRIDGE EL
9         A1        2838       279184  ALDRIDGE EL
10        A1        2627       336548  ALDRIDGE EL
11        A1        2429       251770  ALDRIDGE EL
12        A1        2424       276147  ALDRIDGE EL
13        A1        2562       339252  ALDRIDGE EL
14        A1        2148       252338  ALDRIDGE EL
15        A1        3010       302968  ALDRIDGE EL
16        A1        2021       252966  ALDRIDGE EL
17        A1        2110       257796  ALDRIDGE EL
18        A1        2032       289730  ALDRIDGE EL
19        A1        2872       277838  ALDRIDGE EL
20        A1        2310       256226  ALDRIDGE EL
21        A1        2219       266881  ALDRIDGE EL
22        A1        2984       284171  ALDRIDGE EL
23        A1        2160       265160  ALDRIDGE EL
24        A1        2285       271461  ALDRIDGE EL
25        A1        2745       256045  ALDRIDGE EL
26        A1        2394       252351  ALDRIDGE EL
27        A1        2113       259934  ALDRIDGE EL
28        A1        3183       285998  ALDRIDGE EL
29        A1        2582       268921  ALDRIDGE EL
30        A1        2045       252201  ALDRIDGE EL
31        A1        3286       291897  ALDRIDGE EL
32        A1        2258       289822  ALDRIDGE EL
33        A1        2635       274569  ALDRIDGE EL
34        A1        2619       256846  ALDRIDGE EL
35        A1        2668       254927  ALDRIDGE EL
36        A1        2510       311061  ALDRIDGE EL
37        A1        2854       257263  ALDRIDGE EL
38        A1        2595       263393  ALDRIDGE EL
39        A1        2815       272775  ALDRIDGE EL
40        A1        2352       292188  ALDRIDGE EL
41        A1        3241       272702  ALDRIDGE EL
42        A1        3306       277332  ALDRIDGE EL